{% load utils %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<div style="margin: 10px 0px 10px 0px;">{% language_selector %}</div>
<div style="margin: 10px 0px 10px 0px;">
    <a href="/">Home</a> <a href="/blog/">Blog</a> <a href="/articles/">Articles</a>
</div>
<div style="margin: 10px 0px 10px 0px;">
    <p>Categories</p>
    {% for category in categories %}
        {{ category.name }}<br>
    {% endfor %}
</div>

{% block content %}
{% endblock %}
</body>
</html>