{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
<div style="float: left; width: 200px">
    <h2>Blogs</h2>
    {% for blog in blogs %}
        <a href="#">{{ blog.name }}</a><br>
    {% endfor %}
</div>
<div style="float: left; width: 300px">
    <h2>Articles</h2>
    {% for article in articles %}
        <a href="#">{{ article.name }} / {{ article.date }}</a><br>
    {% endfor %}
</div>
<div style="float: left; width: 400px">
    <h2>Galleries</h2>
    {% for gallery in galleries %}
        <a href="#">{{ gallery.date }} / {{ gallery.name }}</a><br>
    {% endfor %}
</div>
{% endblock %}